[submodule "libsyslogpp"]
	path = libsyslogpp
	url = git://github.com/yurial/libsyslogpp.git
[submodule "libevent"]
	path = libevent
	url = git://github.com/libevent/libevent.git
[submodule "libsyslog"]
	path = libsyslog
	url = git://github.com/yurial/libsyslog.git
